Data analysis with python

In [1]:
%pwd

'/home/manzi/PythonClass/Python book/pydata-book/study'

In [2]:
path = 'datasets/bitly_usagov/example.txt'

In [3]:
open(path).readline()

'{ "a": "Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/535.11 (KHTML, like Gecko) Chrome\\/17.0.963.78 Safari\\/535.11", "c": "US", "nk": 1, "tz": "America\\/New_York", "gr": "MA", "g": "A6qOVH", "h": "wfLQtf", "l": "orofrog", "al": "en-US,en;q=0.8", "hh": "1.usa.gov", "r": "http:\\/\\/www.facebook.com\\/l\\/7AQEFzjSi\\/1.usa.gov\\/wfLQtf", "u": "http:\\/\\/www.ncbi.nlm.nih.gov\\/pubmed\\/22415991", "t": 1331923247, "hc": 1331822918, "cy": "Danvers", "ll": [ 42.576698, -70.954903 ] }\n'

In [4]:
import json
records = [json.loads(line) for line in open(path)]

In [5]:
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1331923247,
 'hc': 1331822918,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

In [6]:
records[0]['tz']

'America/New_York'

In [7]:
a = 5
b  = 10
c = a + b
d = [1,2,3,4,5]
d.reverse()

In [8]:
d

[5, 4, 3, 2, 1]

In [9]:
import datetime

In [10]:
datetime.time

datetime.time

In [11]:
#ipython hides methods that start with underscores if you 
#want to see them, you can fist type an _ then tab.

In [12]:
def calc (a,b,c):
    return a+b+c

calc(1,2,3)

6

In [13]:
e = [1,2,3,4]
f = ()
g = (1,2,3) #this is a tuple, it is immutable, ordered
h = {1,2,4,3} #this is a set, it is unodered and immutable

In [14]:
g? #this gives information about that object

SyntaxError: invalid syntax (1520635656.py, line 1)

In [ ]:
g[2]

In [ ]:
print?

In [ ]:
calc?

In [ ]:
import numpy as np

In [ ]:
np.*load*? #*(word)* this brings all the names matching the selected name from a particular name space, this time the numpy name space

In [ ]:
#python uses indantation not braces to structure code
#look at this for loop. (a for look iterates through items)

for i in range(10):
    if i < 5:
        if i > 3:
            print(i)

In [ ]:
a = [1,2,3,4] #in this case, you have created a variable (name) a that refers to the (list object) b which is stored with an address somehwere in memory
b = a #this b also points to the memory address of the list and does not copy the values and store them in b 
b #this outputs values in the list as shown in a

In [ ]:
b.append(5)
a

In [ ]:
#when you assign a name to refer to an object stored in a memory address,
#you are said to have defined initialised a variable.
#this is also the same as binding a name to an object ie a(name) is bound to ([12,3,4,5]) 
#this variable a is then called a bound variable.

In [ ]:
listing = [1,2,3,4]

def num(listing):
    listing.append(4)

In [ ]:
listing

In [ ]:
num(listing)

In [ ]:
listing

In [ ]:
#in python, a variable name can be dynamic in that it can take on a new datatype even those it had one already
a = 2
type(a)

In [ ]:
a = 'string'
type(a)

In [ ]:
4 + 4.5

In [ ]:
isinstance (a, str)

In [ ]:
a = 'foo'

In [ ]:
a.isupper

In [ ]:
getattr(a, 'split')

In [ ]:
#define a try catch block
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [ ]:
isiterable('astring')

In [ ]:
#duck typing is where you want to check for what an object can do instead of what it is 
isiterable([1,2,3])

In [ ]:
def iterate(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [ ]:
#iterate(5,3) this brings an error
iterate('string')

In [ ]:
print(iter('string'))

In [ ]:
#the output above is the same as true for the previous request.
#it returns the fact that the object is a string and goes ahead to share the memory location

In [ ]:
import amodule

a = 5 + amodule.D
a

In [ ]:
import amodule

In [ ]:
b = amodule.f(3)
b

In [ ]:
from amodule import PI

In [ ]:
A = PI
A

In [ ]:
import amodule as am

In [ ]:
a = am.PI
a

Binary Operators

In [ ]:
5-4

In [ ]:
3==3

In [ ]:
a = 5
b = 5
a is b #this will return true because the two reference names a and b refer to the same memory address with the object 5

In [ ]:
c = (1,2,3) #this is a tuple
type(c)

In [ ]:
e = {1,2,3}
type(e)

In [ ]:
d = list(e) #this allows for creation of a new list and this comes in handy if you want to iterate of manipulate immutable data types such as tuples of sets
#to change the value of a mutable object is to mutate it

In [ ]:
d

In [ ]:
c is d

In [ ]:
m = [1,2,3,4,5]
m

In [ ]:
m.append(4)

In [ ]:
m

In [ ]:
a = 123456 ** 10 #an int can hold a large number of values
a

In [ ]:
b = 6.73e-5
b

In [ ]:
#strings can be written with single of double quotes and if you
#what to define a multi line string, you can use """ """ 
#this will ensure that all the values are printed based on their line

n = """This is line 1
this is line 2
this is line 3
"""
print(n)

In [ ]:
n.count("\n")

In [ ]:
#string are immutable and cannot just be changed by position
n = "this is a man"
n[10] = r

In [ ]:
#you can however use the replace keyword
m = n.replace("man","big man") #syntax for this function is
#the first position 0 takes the value in the string you want to change and then position 1 takes the new value you want to add there for the old one with is replaced

In [ ]:
m

In [ ]:
a

In [ ]:
n

In [ ]:
j = 5
n = str(j)

In [ ]:
type(n)

In [ ]:
s = "python"
s[2:4] #this prints out the requested values in a process called slicing
# [2(inclusive): 4(exclusive)] this means that the value at position 2 is included in the result whereas the one at position 4 is not included in the result

In [ ]:
#\ is called an escape character and is used to specify special characters such as new lines 
a = "a\nb" #to include it you use \\ ie a = a\\b output is a\b
print(a)

In [ ]:
#raw (r) is used to create a string that has only literal character are printed. literal caracters ar characters presented as they are or as they appear
s = "this\nhas\nspecial\ncharacter"
print(s)

In [ ]:
s = r"this\nhas\nno\nspecial\ncharacters"
print(s)

In [ ]:
a = "a"
b = "string"
#c = a+b
c = a + b[2:]
c

string formating

In [ ]:
a = "{0:.2f} is a number with {1:d} {2:s}"

In [ ]:
a.format(2.46461,1,"decimal place")

In [ ]:
b = "{0:s} is {1:d} years old."
b.format("Manzi",23)

In [ ]:
c = 23
print(f"Manzi is {c} years old") #fstring is used here and this the the short name for formatted strings

In [ ]:
#you can use it before opening the brackets that define a string as shown below
#interesting examples
price = 23
quantity = 3
total = price * quantity
result =f"Manzi purchased {quantity} pens each valued at ${price} and the total amount spent was ${total}"
result

In [ ]:
#adding format specifiers to the string formating template
result_2 =f"Manzi purchased {quantity:.2f} pens each valued at ${price:d} and the total was ${price * quantity:.4f}"
result_2

In [ ]:
#python allows you to store non ascii characters such as ñ and this is possible because python holds unicode strings
value = "español"
value

In [ ]:
#to convert this to utf-8, you can encode it with. Note: this converts the unicode value to a byte
value_utf8 = value.encode("utf-8")
value_utf8

In [ ]:
#value_utf9 = value_utf8.encode("utf-8")
#value_utf9 once it is a byte already, you cannot encode it further and even if you tried you would get an error for bytes do not have the encode attribute

In [ ]:
type(value_utf8)

In [ ]:
#you can take it back to unicode with
value_utf8.decode("utf-8")

In [ ]:
#the output above is in unicode again

In [ ]:
#You might also find data in different encodings ie
value.encode("utf-16")

In [ ]:
value.encode("latin1")

In [ ]:
value.encode("utf-16le")

Boolean

In [ ]:
#these are true or false but when converted to numbers are 1 and 0
int(False)

In [ ]:
int(True)

In [ ]:
#you can use the not keyword to change the value of a boolean to the opposite
a = True
b = not a
b

In [ ]:
#type casting is basically changing one datatype to another
a = "5.4" #it is a string
b = float(a)
b

In [ ]:
type(a)

In [ ]:
int(b)

In [ ]:
#NOTE: you can cannot convert a string that has a decimal point directly to an interger and you will get a value error when you try it becuase the decimal point 
#value is not a valid integer representation

f = 4
c =bool(f)
c

In [ ]:
#None is stored in one memory address in python and is always pointed to when being used
a = None
a is None

In [ ]:
#None stores default values and cannot be added to a numerical value but rather, to use it, you
#can set an if that checks if c is not none first, if that is right, you can use it
def add (a,b,c=None):
    result = a + b
    if c is not None:
        result2 = a + b + c
        print(result2)
        #print(f"{a:d} + {b:d} + {c:d}")
    else:
        print(result)

In [ ]:
add(1,2,3)

In [ ]:
def subtract(a,b,c=None):
    if c is not None:
        result = a - b - c
        print(f"The difference is {result}")
    else:
        result2 = a - b
        print(result2)

In [ ]:
subtract(1,2,3)

Date and Time

In [ ]:
from datetime import datetime, time, date

In [ ]:
#showing the date and time
dt = datetime(2011, 10, 29, 20, 30, 21)

In [ ]:
dt.second

In [ ]:
dt.year

In [ ]:
dt.month

In [ ]:
dt.hour

In [ ]:
dt.date()

In [ ]:
dt.time()

In [ ]:
#if you want to convert the datetime to a string for manipulation
#you can use the strftime method
dt.strftime("%Y-%m-%d %H:%M:%S")

In [ ]:
#to convert a string to the datetime, you can use strptime
datetime.strptime("20091029","%Y%m%d")

In [ ]:
dt

In [ ]:
#timedelta is the difference between 2 datetime objects
#example
dt2 = datetime(2011, 10, 31, 15, 22, 30)

In [ ]:
delta_time = dt2 - dt
delta_time

In [ ]:
type(delta_time)

In [ ]:
newtime = dt + delta_time #this creates a new time and can come handy in scheduling
newtime

Control Flow

In [ ]:
#if statements are used to evaluate conditions and they can be if, else or elifs in between for many conditions
l = input("Please enter a number: ")
m = int(l)
n = 5
if m == n:
    print('They are equal')
elif m < n:
    print("M is greater")
else:
    print("N is greater")

In [ ]:
#for loops
p = [1,2,3,4,5,6,7]

for i in p: #for value in collection is the syntax
    i += i
    
print(i)

In [ ]:
#using the continue keyword to advance a for loop
q = [1,2,3,None,4,5,6,None,8]

for i in q:
    if i is None:
        continue
    i+=i
    print(i)

In [ ]:
for i in q:
    if i is None:
        break
    i = i + i
    print(i)

In [ ]:
# 2 for loops
for a in range(3): #these are rows
    for b in range(5): #these are columns
        print(b, end="")
    print()

In [ ]:
#simple project to build a shape

rows =int(input("Enter the number of rows: "))
columns =int(input("Enter the number of columns: "))
symbols = input("Enter a symbols: ")

for a in range(rows):
    for b in range(columns):
        print(symbols, end="")
    print("")

In [ ]:
for i in range(4): #for this, the for loop will break when the value of j is greater than that is i
    for j in range(4):
        if j > i:
            break
        print((i,j))

In [ ]:
#while loops offer a condition to be evaluated and it goes on until the condition becomes false

In [ ]:
#x = int(input("Enter a number: "))
#while x < 3:
 #   y= x + 1
  #  print(y)

In [ ]:
x =256
total = 0
while x > 0:
    if total > 500:
        break
    total += x #total = total + x (this will break after 256,128,64,32,16,8,4)
    x = x // 2
    print(x)

In [ ]:
#pass is for do nothing or ignore that fact that what is supposed to be there is no there
x = int(input("Enter a value: "))

if (x < 100):
    print(f"the value is {x}")
elif (x > 100 and x < 1000):
    print("The value is: ",x)
else:
    pass

In [ ]:
#using the range function
range(10)

In [ ]:
list(range(10))

In [ ]:
#adding start end step
m = list(range(0,30,3))
m

In [ ]:
n = list(range(10,0,-2))
n

In [ ]:
#example
seq = list(range(1,6))

for i in range(len(seq)):
    print(f"Position: {i}, Number: {seq[i]}")

In [ ]:
#example 2
total = 0
for i in range(100000): #you can also use range(100_000) this is not any different and is done to improve readability
    if i % 3 == 0 or i % 5 == 0:
        total = total + i

print(total)

#Chapter 3

In [ ]:
#working with tuples. these are immutable python sequences (they can be iteraterated upon) and they are declared with () or nothing. Other data types
#can also be converted into tuples by using the keyword tuple as shown below

tu = (1,2,3,4) #using ()
type(tu)

In [15]:
tp = 1,2,3,4 #using nothing
type(tp)

tuple

In [16]:
x = "String"
y = tuple(x) #converting
y

('S', 't', 'r', 'i', 'n', 'g')

In [17]:
#accessing values in a tuple is done with []
y[2]

'r'

In [18]:
#it is advisable to use () when using other versions of tuples such as nested tuples
z = (1,2,3),(4,5,6)
z

((1, 2, 3), (4, 5, 6))

In [19]:
z[1]

(4, 5, 6)

In [20]:
z[1][1]

5

In [21]:
#you cannot chnage the contents of a tuple but if the tuple has a list with in (I totally never thought this was possible) the tuple, you can adjust the contents of the list
f = ('foo',[1,2,3],'d')
type(f)

tuple

In [22]:
f[0].append('x')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
f[1].append(4)

In [ ]:
f

In [ ]:
f[1] = 2

In [ ]:
#the error above shows that lists are not mutable

In [ ]:
#you can join tuples together in a process called concatenation
m = (1,2,3)
n = ('a','b','c')
p = m + n
p

In [ ]:
q = m * 4
q

In [ ]:
#unpakcing tuples. this means giving values inside a tuple variable names
tl = (1,2,3,4)
a,b,c,d = tl
a

In [ ]:
c

In [ ]:
#swapping names can be done with
a,b,c = b,a,c

In [ ]:
b #b = 1, c = 3, a =2

In [ ]:
a,b,c = c,a,b

In [ ]:
c

In [ ]:
a

In [ ]:
b

In [ ]:
#to iterate over a sequence you can use the unpacking concept
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(f"a = {a} b = {b} c = {c}")

In [ ]:
#if you want to get some values off a tuple and then view the rest
#you can use the rest keyword

values = (1,2,3,4,5,6,7,8,8,9)
values

In [ ]:
a,b,c,d, *rest = values
m = rest
m

In [ ]:
#you can also use *_
values

In [ ]:
l,m,n,*_ = values

In [ ]:
m = _

In [ ]:
m

In [ ]:
#this *_ or *rest is used to discard unwanted values

In [ ]:
#methods for tuples (methods are the same as functions but in OOP) 
#the count method can be used on lists

a = (2,4,5,6,7,8,8,6,7,9,0)
a.count(7) #this counts the number of7s in the tuple

In [ ]:
a.append(10)
a #this shows that lists do not allow the append since they are immutable

In [ ]:
#lists
#these are mutable and can be defined using two ways which include 
#use of square brackets [] or list word
a = [1,2,3,4]
b = (5,6,7,8)

In [ ]:
c = list(b)
c

In [ ]:
c[3] = 9
c

In [ ]:
c.append(12)
c

In [ ]:
gen = range(10)

In [ ]:
gen

In [ ]:
list(gen) #this is used to show the contents in a range

In [ ]:
#to add values to a specific part of a string, you use the 
#insert function along with the position
#this is an expensive task (resource intensive on the side of the PC)
c.insert(2,13) #first position then value you want to add. This adds it to a position and does not remove that value that was in that postion but insead pushes the value to the next and add the new one
c

In [ ]:
c.append(6)
c

In [ ]:
#deleting values from a list can be done using pop or remove
c.pop(6) #this removes the value in position index 6 which is 6.
c

In [ ]:
c.remove(9) #this removes a particular value based on its first 
#occurence in the list

In [ ]:
c

In [ ]:
#you can check if a list contains certain values or not by 
#using the in or not in keywords which return a boolean value
#if the value is there or not
5 in c

In [ ]:
5 not in c

In [ ]:
#this takes a longer timein lists than sets or dictionaries becauses the values 
#of the list are scanned to varify existence.

In [ ]:
#concatenation
a = [1,2,3]
b = ["a","b","c"]
c = a + b
c

In [ ]:
#you can also use the exent function to add values
c.extend(["d",4,5,6])
c

In [ ]:
#The concatenation method is more expensive on the side of the PC because a whole new variable has to be created 
#the extend function however just adds to the existing list and would 
#work well for large lists

list_of_lists = ['chunk','load','weight']

everything = []
for i in list_of_lists:
    everything.extend(i)
everything
#this for picks all values from list of lists and adds them to everything

In [ ]:
listing = [[1,2],[3,4]]
#listing2 = [12,24,36,47]
type(listing)

In [ ]:
thing = []
for i in listing:
    thing = thing + i #this will bring an error because the words being iterated over come as strings or integers which
    #cannot be concatenated to a list. you can however put a list in the list and things will work
thing

In [ ]:
list_of_lists

In [ ]:
#sorting lists
#to sort is to put in order based on certain criteria
thing

In [ ]:
things = [5,6,2,3,8,9,12,65,43,67,8,9]
things.sort()
things

In [ ]:
f = ['cow','goat','rabbit','rat']
f.sort(key=len) #this sorts based on the length
f

In [ ]:
#slicing lists
#this is done using indexes and can be done in a number a ways
#the syntax is [inclusive:exclusive]
m = [3,4,5,2,1,6,7,8]
m[2:5] #this includes the value of postion 2 but exludes that of position 5

In [ ]:
#you can also do slicing and assignment where some values are removed and 
#others are added to the list
m[2:5] = [4,7,0]
m

In [ ]:
#you can also customise to pick only values at the ends with
m[3:]

In [ ]:
m[:5]

In [ ]:
m[:] #this picks all values

In [ ]:
#you can also use negatives
m[-4:] #this picks the last 4 values

In [ ]:
m[-6:-2] #this first goes 6 times to the back and then starts again 2 times from the back and 
#if there are remianing values, it prints those

In [ ]:
#you can also add a step in the mix
m[1:6:2] #when this is done, the slicing skips by 2 when printing 
#this upholds the start:stop:step method

In [ ]:
m[::2]

In [ ]:
m[::3]

In [ ]:
#you can also reverse a whole tuple or list with
m[::-1]
#this steps from the back and prints all values

In [ ]:
#Dictionaries

In [ ]:
#the most common way of creating them is using curly brackets {} the key and value are separed using a full colon : 
#the key is used to access the value and do lots of things

In [ ]:
d0 = {} 
d ={'a':1, 'b':2, 'c':3}
d

In [ ]:
d1={'a':'some value','b':[1,2,3,4]}
d1

In [ ]:
type(d1)

In [ ]:
#adding values can be done by choose a key and its value then add it
d['d']=3

In [ ]:
d

In [ ]:
d['d']=4 #adding a value to the dictionary
d

In [ ]:
d1['b'] #accessing a value in a dictionary

In [ ]:
d1[7]='seven'
d1

In [ ]:
d1[7] #if you want to access a particular value in a dictionary using its key,
#varify if the key is and int or an str. if it is an str, use '' if it is an int just put it there as shown above

In [ ]:
7 in d1 #checking if there is a value

In [ ]:
d1

In [ ]:
#deleting values in a dictionary
del d1['a']
d1

In [ ]:
d1[6]='six'
d1

In [ ]:
d1.pop(6) #this removes the value of 6 and then shows you what it has removed
#below but the del just removes the value. pop uses () not [] as in del for delete

In [ ]:
d1[8] = 'eight'

In [ ]:
d1

In [ ]:
del d1[8]

In [ ]:
d1

In [ ]:
sept = d1.pop(7)

In [ ]:
sept

In [ ]:
#if you want to access the keys or values that have been put into a list individually,
#you can use the methods called keys() and values() these retrurn the keys or values entered with in
#a dictionary in the same order in which they were inserted and the output is not form of a list

m = {'a':1,'b':2,'c':3,'d':4}
m
#the explanation in the book states that the methods keys() and values() return iterators of the dictionary's
#keys and values respectively. this simply means that the method with all you to get the names of those keys in
#order in which they are stored in the dictinary and you can loop over them or convert them into a list

In [ ]:
m.keys() #this gets the keys from the dictionary in the order of insertion

In [ ]:
list(m.keys()) #this brings it out as a list

In [ ]:
#the same can be done to get the values
m.values()

In [ ]:
list(m.values())

In [ ]:
#the items method allows you to get both the keys and values
#but stores them as 2 tuples. one is the key, another is the value.
#these can be stored in a list but are initially just dictionary items (dict_items)
m.items()

In [ ]:
list(m.items())

In [ ]:
#adding many values to a dictionary can be done with the update() method
m.update({'e':5,'f':6,'g':7})
m

In [ ]:
#when you use the update method in a dictionary and you add keys that already have values,
#the values of those keys are discarded and the new ones are added
m.update({'g':8})

In [ ]:
m

In [ ]:
m['h']=9 #lest we forget that adding values is this way

In [ ]:
m

In [ ]:
#trials
a = {'m':0}
b = {'n':1}
c = a + b #you cannot concatenate dictionaries like this

In [ ]:
#you can use 
c = {**a , **b}
c

In [ ]:
#or 
a.update(b)

In [ ]:
a

In [ ]:
#creating dictionaries can be done from two tuples
a = (1,2,3,4)
b = ('a','b','c','d')
c = zip(a,b)

In [ ]:
c

In [ ]:
d = {}
for key, value in c:
    d[key] = value

In [ ]:
d

In [ ]:
type(d)

In [ ]:
#this above process shows how to create a dictionary from two tuples while using the zip() method 
#which combines 2 or more iterables

In [ ]:
#example 2
e = zip([1,2,3,4],['a','b','c','d','e'])

In [ ]:
f = {}
for key, value in e:
    f[key] = value

In [ ]:
f

In [ ]:
#as we can see, the last value was not added for it lacked a key

In [ ]:
g = zip([1,2,3,4,5],['a','b','c','d'])
f = {}
for key, value in g:
    f[key] = value

In [ ]:
f

In [ ]:
#the value with no corresponding key or value is left out

In [ ]:
#you can also use an easier way
#creating dictionaries can be done from two tuples
a = (1,2,3,4)
b = ('a','b','c','d')
c = zip(a,b)
d = dict(c)
d

In [ ]:
#As a method of preventing errors, python allows for default values
#example below
m = {'a':'apple','b':'banana'}
m.get('x', 'nothing')

In [ ]:
m

In [ ]:
m['a']

In [ ]:
m['x']

In [ ]:
default =m.get('x', 'nothing')
default1 =m.get('a', 'nothing')

In [ ]:
#this method of default values applies when you want to get a value from a dictionary, if the value does not
#exist, you however have to call the default,
default1

In [ ]:
#the default value does not run unless the key is not present in the 
#dictionary and that is the association

In [ ]:
#categorizing values from a list
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [ ]:
by_letter

In [ ]:
#the function above involves first of all converting a list in a dictionary then
#the keys of these words are their first letters. words with the same first letter are in the same key
fruits = ['banana','apple','berry','beat root','avocado']
arranged = {}

for word in fruits:
    fruit = word[0]
    if fruit not in arranged:
        arranged[fruit] = [word]
    else:
        arranged[fruit].append(word)

In [ ]:
arranged

In [ ]:
#above is the result and the letter used first depends on the arrangement of the 
#words in the list

In [ ]:
arrange = {}
for word in fruits:
    fruit = word[0]
    arrange.setdefault(fruit, []).append(word)

In [ ]:
arrange

In [ ]:
#the above method is shorter but leverages the setdefault() method for dictionaries

In [ ]:
#another simpler way
from collections import defaultdict
arranging = defaultdict(list)

for word in fruits:
    arranging[word[0]].append(word)

In [ ]:
arranging

In [ ]:
#valid dictionary key types

In [ ]:
#the keys in a dictionary value to be immutable python objects but the values can be any thing
#this is called being hashable they can be ints, str, float or tuples

In [ ]:
#examples
hash(1)

In [ ]:
hash('a')

In [ ]:
hash((1,2,3))

In [ ]:
#if you have to use a list, convert it to a tuple first
d = {}
c = [1,2,3]
e = tuple(c)

In [ ]:
#adding a list as a tuple as a key in a dictionary
d[tuple([1,2,3])] = 5

In [ ]:
d

In [ ]:
#above is the key and the value

In [ ]:
#sets
#this is an unordered python type that does not allow duplicates.
#they are declared in 2 ways

In [ ]:
#adding the word set before
set([1,2,2,3,3,4,5,1,2,])

In [ ]:
#using curly brackets
{1,2,3,4,5,6,3,2,1,3}

In [ ]:
#see, no duplicates, no maintained order

In [ ]:
#you can enjoy the primary school sets concept of union, intersection, difference and more
a = {1,2,3,4}
b = {4,5,6,7}
a.union(b)

In [ ]:
#or you can use
a | b

In [ ]:
#both .union and | bring th union set

In [ ]:
a.intersection(b)

In [ ]:
a & b

In [ ]:
#those two bring the intersection

In [ ]:
#to combine two sets in to one
#to set the elements of both sets to be one of the sets
a.update(b) #a |= b

In [ ]:
a

In [ ]:
a |= b

In [ ]:
a

In [ ]:
b

In [ ]:
a

In [ ]:
c = a.copy()

In [ ]:
c

In [ ]:
d = a.copy()

In [ ]:
d &= b

In [ ]:
d

In [ ]:
a

In [ ]:
b

In [ ]:
b.issuperset(a)

In [ ]:
e = [1,2,3,4]

In [ ]:
a_set ={tuple(e)}

In [ ]:
a_set

In [ ]:
b.issubset(a)

In [ ]:
a.issuperset(b)

In [ ]:
#you can also use the == in sets but you only get true if the
#values within are the same 
{1,2,3} == {3,2,1}

In [ ]:
#Built in sequence functions

In [ ]:
#enumerate
#this is used when you want to keep an index of a number especially
#as you loop through something.
#by using it, you do not have to define position 0 or index zero every time

In [ ]:
#example

m = [5,5,5,5,5]
n = 0
count = 0
for i in m:
    count = count + 1 #this maintains the zero position and adds the values. this is why we are here
    n = n + i
print(n) #this adds all the values in the loop but that is not why we are here

In [ ]:
print(count)

In [ ]:
#applying the enumerate and eliminating the count
for count, i in enumerate(m):
    count = count + 1 #count+=1
print(count)
#the method above eliminated the need to use count = 0 at the start

In [ ]:
#sorting values
#for a list
n = [1,5,7,3,9,0,1]
n.sort()

In [ ]:
m = (1,7,1,5,9,0)
m.count(5) #this counts the number of 5s in m
#tuples do not have the sort methos

In [ ]:
n

In [ ]:
#that sorts the values in the list.
#however, if you just want to sort random values, you can use
#sorted() which allows arguments unlike sort()
sorted([6,7,8,2,5,7,9])

In [ ]:
#it also works for words and letters
sorted('houese') #it takes one argument

In [ ]:
sorted(['a','r','e','t'])

In [ ]:
#zip pairs up elements of lists or tuples to create a list of tuples
a = [1,2,3,4]
b = ['a','b','c']
c = zip(a,b)
list(c)

In [ ]:
d = (1,2,3,4)
e = ('a','b','c','c')
f = zip(d,e)
list(f)

In [ ]:
carrot = ['y','z']

l = zip(carrot,bag,apple)
list(l)

In [ ]:
#this element with the least number of values determines the number of list elements created

In [ ]:
tomato = ['p']
o = zip(carrot,bag,apple,tomato)
list(o)

In [ ]:
#we only take those that have corresponding values and make a full list.

In [ ]:
#how to create a dictionary from a list
apple = [1,2,3,4]
bag = ['a','b','c']
g = {1:apple,2:bag}
g

In [ ]:
#combining zip and enumerate
product = ['apple','mango','orange']
price = [20,15,30]
p = zip(product,price)

for count, (a,b) in enumerate(p):
    print(f'{count}: {a}, {b}')

In [ ]:
#reversing elements
m = list(range(1,13,2))
m

In [ ]:
m.reverse()

In [ ]:
m

In [ ]:
list(reversed(range(10))) #this the reversed concept and is similar to reverse a shown above

In [ ]:
#list, dictionary and set comprehension

In [ ]:
#list comprehension
#syntax = [<expression to be done> for <value> in <list> if <condition]

x = [1,2,3,4,5,6,7,8,9]
m = [i*2 for i in x if i > 5]
m

In [ ]:
n = [i-2 for i in x if i > 2]
n

In [ ]:
#this concept of list comprehension provides a simpler way to
#do a for loop in just one list line.
strings = ['a','as','bat','car','dove','python']
[i.upper() for i in strings if len(i) > 2]

In [ ]:
#dictionary comprehensions
#syntax {<key expression: value expression> for <value> in <dictionary> if <condition>}
#set comprehensions
#syntax {<expression to be done> for <value> in <set> if <condtion>}

b = {'bat','goat','rat','kitten'}
m = {x.upper() for x in b if len(x) >= 4 }

In [ ]:
m

In [ ]:
type(m)

In [ ]:
p = {i**2 for i in x if i > 2}
p

In [ ]:
type(p)

In [ ]:
#the map function allows you to impart the logic of a function on iterables
#syntax map(function, iterable1, iterable2, ...)
x = [1,2,3,4,5,6]
y = [4,5,6,7,8,9]

In [ ]:
def product(x):
    return x*x

In [ ]:
product(9)

In [ ]:
m = list(map(product, y))

In [ ]:
m

In [ ]:
#dictionary comprehension
#syntax {<key expression: value expression> for <value> in <dictionary> if <condition>}
#this always ends up creating a dictionary
#example 1
{x:x**2 for x in range (1,6)}

In [ ]:
#example2
strings

In [ ]:
#finding strings and their locations
{index : value for index, value in enumerate(strings) if len(value) > 2}

In [ ]:
#nested list comprehensions

In [ ]:
a = [[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]]

In [ ]:
b = []
for i in a:
    c = [n for n in i if n > 6]
    b.extend(c)
    
b

In [ ]:
c = [['John','Emily','Micheal','Mary'],['Maria','Juan','Javier','Natalia']]

In [ ]:
c

In [ ]:
j = []

#c = [['John','Emily','Micheal','Mary'],['Maria','Juan','Javier','Natalia']]
# i = ['John', 'Emily', 'Micheal', 'Mary'] 
#i = ['Maria', 'Juan', 'Javier', 'Natalia']
for i in c:
    e = [d for d in i if d.count('a') >= 2] #this checks the new i(s) which are actually the inner lists. d for d creates a new list with values that are true for the condition
    j.extend(e)

In [ ]:
j

In [ ]:
#another example
y = [[1,2,3,4],[5,6,7,8]]
z = []
for i in y:
    x = [w for w in i if w > 4]
    z.extend(x)

In [ ]:
z #this has picked the values in the inner lists and put them in one list

In [ ]:
#one statement
final = [d for i in c for d in i if d.count('a') >= 2]

In [ ]:
final

In [ ]:
#sample questions
#Given a matrix represented as a list of lists,
#write a nested list comprehension to flatten 
#it into a single list.
#Given a matrix represented as a list of lists, 
#write a nested list comprehension to create a new matrix that 
#includes only the even numbers.

a = [[1,2,3],[4,5,6],[7,8,9]]
b = []
for i in a:
    c = [d for d in i]
    b.extend(c)
b

In [ ]:
f = []
for i in a:
    e = [d for d in i if d % 2 == 0]
    f.extend(e)
f

In [ ]:
a

In [ ]:
m = [1,2,3,4,5,6,7,8] #the basics
[i*2 for i in m if i > 5]

In [ ]:
#dictionary comprehension
#syntax {<key expression>: <value expression> for <value> in <dictionary> if <condition>}
{index:value for index, value in enumerate(m)}

In [ ]:
#set comprehension
#syntax {<expression of value> for <value> in <set> if <condition>}
{x*2 for x in m if x % 2 == 0}

In [ ]:
m =[[1,2,3],[4,5,6],[7,8,9,10]]
b = [d for i in m for d in i if d % 2 == 0]
b

In [ ]:
[[d for d in i] for i in m]

Python functions

In [ ]:
#functions allow us to reuse code. When you call a function,
#that has a return, the answer obtained from their is sent
#back to the place where the function was called
def sum(a,b):
    return a + b
c = sum(5,7)
print(c)

In [ ]:
#In the scenario above, the function call returned into adding 5 and 7 and the result was returned
#to the context (c) where the function was called.

In [ ]:
#when a function does not have a return statement, the result non is printed
def no_return(x):
    print(x)

result = no_return('hello')
print(result) 
#the value does not save the output but produces it at run time.

In [ ]:
#positional and keyword arguments
def func(a,b,c=1.5):
    if c > 1:
        return c * (a+b)
    else:
        return c / (a+b)
func(3,8)

In [ ]:
#positional arguments must always be specified and if you want
#to add a keyword argument, it should come after the positionals
func(4,7,c=5)

In [ ]:
func(4,7)

In [ ]:
#A namespace is the name given to a variable scope. A local
#namespace variable is new created in a function and can be
#executed but their after destroyed. A global namespace variable
#is one that can be accessed any where within a program

def func2():
    a = []
    for i in range(5):
        a.append(i)
    return a

In [ ]:
func2()

In [ ]:
#above, the list a is created and then destroyed at the end of the 
#function running. Without the return, the a does not exist for it is a 
#local variable.
a

In [ ]:
a = []

def func3():
        for i in range(4):
            a.append(i)
        
func3()

In [ ]:
a

In [ ]:
func3()

In [ ]:
a

In [ ]:
#it keeps adding to the global variable.

In [ ]:
#if you want a local varibale to exist even after a function
#has executed, you need to define it with the global keyword.

a = 5

def binding():
    global a
    a = []
binding()

In [ ]:
a

In [ ]:
#here, the local variable has be accessed globally after the function
#has run. This is not always god and when required, it is better to use classes.

In [ ]:
#returning multiple values with a function
def f():
    a,b,c =1,2,3
    return a,b,c
#a,b,c = f()

In [ ]:
f() #the return is always a tuple

In [ ]:
#returning a dictionary
def g():
    a = 6
    b = 8
    c = 7
    return {'a': a, 'b':b, 'c':c}

In [ ]:
g() #this returns a dictionary of values

In [23]:
#functions as object. An object is self contained unit of data

states = [' Alabama ',  ' Alabama', "Georgia!", "Georgia",
"georgia", "FlOrIda",
"south    carolina## ", "West virginia?"]

#using a regular expression to clean up

In [24]:
#cleaning the values
import re

def cleaned(strings):
    result = []
    for value in strings:
        value = value.strip() #this removes the front and back white spaces, lstrip and rstrip removes left and right white spaces respectively
        value = re.sub('[!#?]','',value) #this substitutes the first '' with values in the second ''
        value = value.title() #this makes the first letter of every values a capital
        result.append(value)
    return result

In [25]:
cleaned(states)

['Alabama',
 'Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South    Carolina',
 'West Virginia']

In [36]:
states = [' Alabama ',  ' Alabama', "Georgia!", "Georgia",
"georgia", "FlOrIda",
"south    carolina## ", "West virginia?"]

In [29]:
def punctuation(value):
    return re.sub('[!#?]','',value)

clean_ = [str.strip, punctuation, str.title]

In [46]:
import re

def clean(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value) 
    return result

In [47]:
clean(states)

['Alabama',
 'Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South    Carolina',
 'West Virginia']

In [48]:
#using the map function

def punctuation_removal(state):
         return re.sub('[!#?]','',state)

In [52]:
for x in map(punctuation_removal,states):
    print(x)

 Alabama
 Alabama
Georgia
Georgia
georgia
FlOrIda
south    carolina
West virginia

In [61]:
#lambda function in pythin are anonymous functions that allow for declaring and using a function a function the go. 
#they come in handy and are declared with the word lambda

x = [2,4,6,8,10,12,14,16,18,120]

def double(m):
    return m * 2

In [62]:
double(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 120, 2, 4, 6, 8, 10, 12, 14, 16, 18, 120]

In [63]:
m = lambda x: x * 2
m(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 120, 2, 4, 6, 8, 10, 12, 14, 16, 18, 120]

In [73]:
#multiplying the values
def multiple(lists, m):
    return [m(x) for x in lists]

n = [2,4,6,8]

In [74]:
multiple(n,lambda x: x * 2)

[4, 8, 12, 16]

In [80]:
#names = ['Manzi Hilbert Mucunguzi', 'Joel Peter Obua', 'John Baptism Okuta'

#def get_names(name):
 #   for i in name:

In [82]:
#the iterable concept
dictionary = {'a':1,'b':2,'c':3}
for i in dictionary:
    print(i)

a
b
c

In [83]:
for i in range(1,10):
    i = i ** 2
    
    print(i)

1
4
9
16
25
36
49
64
81

In [90]:
#generator allow for creating values on the go to save spcae and or other purposes
def squares(n=10):
    print(f'Printing squares from 1 to {n ** 2}')
    for i in range(1,n + 1):
        yield i ** 2

In [91]:
m = squares(5)

In [92]:
type(m)

generator

In [93]:
m

In [94]:
for i in squares(10):
    print(i)

Printing squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

In [ ]:
#generator expressions